/* =>576px - small (sm) */
.h-orders-fix { height: auto; max-height: 150px; overflow: scroll; }

/* =>768px - medium (md) */
@media (min-width: 768px) {
    .h-orders-fix { max-height: 200px; overflow-x: hidden; }
}