<% if (error && error.length > 0) {%> 
    <!--<div class="header alert alert-danger alert-dismissible">
        <strong> ERROR: </strong>
        <%= error %>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
    </div>-->
    <div class="container-flex">
        <div class="row">
            <div class="mx-auto">

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h6 id="msg"><%= error %></h6>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    
    <!-- Error message -->
    <% if (danger_msg[0]) { %>
        <div class="header alert alert-danger alert-dismissible fade show" role="alert">
            <h6 id="msg"><%=danger_msg%></h6>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <script>
            var msg = document.getElementById('msg')
            swal('Error!',msg.innerHTML, 'error');
        </script>
    <% } %>
    
    <!-- Success message -->
    <% if (success_msg[0]) { %>
        <div class="header alert alert-success alert-dismissible fade show" role="alert">
            <h6 id="msg"><%= success_msg %></h6>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <script>
            var msg = document.getElementById('msg')
            swal('Listo!', msg.innerHTML, 'success');
        </script>
    <% } %>