<% if (error && error.length > 0) {%> 
    <!--<div class="header alert alert-danger alert-dismissible">
        <strong> ERROR: </strong>
        <%= error %>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
    </div>-->
    <div class="container-flex">
        <div class="row">
            <div class="mx-auto">

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    
    <!-- Error message -->
    <% if (danger_msg[0]) { %>
        <div class="header alert alert-danger alert-dismissible">
            <%= danger_msg %> 
            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        </div>
    <% } %>
    
    <!-- Success message -->
    <% if (success_msg[0]) { %>
        <div class="header alert alert-success alert-dismissible">
            <%= success_msg %> 
            <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        </div>
    <% } %>