<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-package icon' ></i>
        <div class="logo_name"></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">
                <li class="side">
                    <a href="/HomeGraphics">
                        <i class='bx bxs-home'></i>
                        <span class="links_name">Inicio</span>
                    </a>
                        <span class="tooltip">Inicio</span>
                </li>
                <li class="side">
                    <a href="/user">
                        <i class='bx bxs-component'></i>
                        <span class="links_name">My Inventario</span>
                    </a>
                    <span class="tooltip">My Inventario</span>
                </li>
                <li class="side">
                    <a href="/admin/allusers">
                        <i class='bx bxs-data'></i>
                        <span class="links_name">Administración</span>
                    </a>
                    <span class="tooltip">Administración</span>
                </li>
                <li class="side">
                    <a href="/coordinator">
                        <i class='bx bxs-stopwatch' ></i>
                        <span class="links_name">Control de Procesos</span>
                    </a>
                    <span class="tooltip">Control de Procesos</span>
                </li>
                <li class="side">
                    <a href="#">
                        <i class='bx bx-clipboard'></i>
                        <span class="links_name">Registro</span>
                    </a>
                    <span class="tooltip">Registro</span>
                </li>
                <li class="side">
                    <a href="/admin/historic">
                        <i class='bx bx-history' ></i>
                        <span class="links_name">Historial</span>
                    </a>
                    <span class="tooltip">Historial</span>
                </li>

        <li class="profile">
            <a  href="/admin/infouser/<%= user._id %>">
                <div class="profile-details">
                <img src="img/profile.jpg" alt="profileImg">
                <div class="name_job">
                    <div class="name">Usuario</div>
                    <!--<div class="job">Web designer</div>-->
                </div>
                </div>
            </a>
            <a href="/Cerrar">
                <i class='bx bx-log-out' id="log_out" ></i>
                <span class="link_out" id="log_out"></span>
            </a>
            <span class="tooltip">Salir</span>
        </li>
    </ul>

</div>