<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-package icon' ></i>
        <div class="logo_name"></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">
                <li class="side">
                    <a href="/infouser/<%= user._id%>">
                        <i class='bx bxs-home'></i>
                        <span class="links_name">Inicio</span>
                    </a>
                        <span class="tooltip">Inicio</span>
                </li>
                <li class="side">
                    <% if(user.role == 'administrador'){ %>
                        <a href="/admin">
                            <i class='bx bxs-component'></i>
                            <span class="links_name">Mi Inventario</span>
                        </a>
                        <span class="tooltip">Mi Inventario</span>
                        <% } else if(user.role == 'coordinador'){ %> 
                            <a href="/coordinator">
                                <i class='bx bxs-component'></i>
                                <span class="links_name">Mi Inventario</span>
                            </a>
                            <span class="tooltip">Mi Inventario</span>
                            <% } else if(user.role == 'usuario'){ %> 
                                <a href="/user">
                                    <i class='bx bxs-component'></i>
                                    <span class="links_name">Mi Inventario</span>
                                </a>
                                <span class="tooltip">Mi Inventario</span>
                                <% } %> 
                    
                </li>
                
                    <% if(user.role == 'administrador'){ %>
                        <li class="side">
                        <a href="/admin/allusers">
                            <i class='bx bxs-data'></i>
                            <span class="links_name">Administraci贸n</span>
                        </a>                
                        <span class="tooltip">Administraci贸n</span>
                        </li>
                        <% } else if(user.role == 'coordinador'){ %> 
                            <li class="side">
                            <a href="/coordinator/employees">
                                <i class='bx bxs-data'></i>
                                <span class="links_name">Administraci贸n</span>
                            </a>
                            <span class="tooltip">Administraci贸n</span>
                            </li>
                            <% } %>
                    
                <li class="side">
                    <a href="/coordinator">
                        <i class='bx bxs-stopwatch' ></i>
                        <span class="links_name">Control de Procesos</span>
                    </a>
                    <span class="tooltip">Control de Procesos</span>
                </li>
                <li class="side">
                    <a href="#">
                        <i class='bx bx-clipboard'></i>
                        <span class="links_name">Registro</span>
                    </a>
                    <span class="tooltip">Registro</span>
                </li>
                <li class="side">
                    <a href="/ordersDone">
                        <i class='bx bx-history' ></i>
                        <span class="links_name">Historial</span>
                    </a>
                    <span class="tooltip">Historial</span>
                </li>

        <li class="profile">
            <a href="/infouser/<%= user._id%>">
                <div class="profile-details">
                <img src="img/profile.jpg" alt="profileImg">
                <% if(user){%>
                    <div class="name_job">
                        <div class="name"><%= user.name%> <%= user.lastname%></div>
                        <!--<div class="job">Web designer</div>-->
                    </div>
                    <% }; %>
                </div>
            </a>
            <a href="/admin/Cerrar">
                <i class='bx bx-log-out' id="log_out" ></i>
                <span class="link_out" id="log_out"></span>
            </a>
            <span class="tooltip">Salir</span>
        </li>
    </ul>

</div>