<%- include('includes/header.ejs') %>

<body>

	<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">
<br>
<br>
	<!--Content before waves-->
	<div class="inner-header flex">
			<form action="/" method="POST">
				<img class="avatar" src="/img/avatar_male.svg" />
				<h2>Bienvenido</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div>
						<h5>Usuario</h5>
						<input class="form-control" type="text" name="username" />
					</div>
				</div>

				<div class="input-div two">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div>
						<label>Contraseña</label>
						<input class="form-control" type="password" name="password" />
					</div>
				</div>
				<input type="submit" class="btn" value="Iniciar Sesion" />
				<%- include('includes/alerts.ejs') %>
	</div>
	
	<!--Waves Container-->
	<div>
	<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
	<defs>
	<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
	</defs>
	<g class="parallax">
	<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
	<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
	<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
	<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
	</g>
	</svg>
	</div>
	<!--Waves end-->
	
	</div>
	<!--Header ends-->
	

<%- include('includes/scripts.ejs') %>
<%- include('includes/footer.ejs') %>