<%- include('../includes/header.ejs') %>

<body>
    <section class="home-section pt-4 mt-4">
        <div class="container mt-2">
        <center>
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                
                <li class="nav-item"><a class="nav-link" href="/admin/adminhome">La Granja</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/ranchos/rancho1">Pollitos en fuga</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/ranchos/rancho2">Cubeta</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/ranchos/rancho3">Los Conos</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/ranchos/rancho4">Rancho viejo</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/ranchos/rancho5">La escondida</a></li>
            </ul>
        </center>
            <div class="subcontenedor">
                <div class="bloque activo">
                  <div class="justify-content-center row">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Medida</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Dejo Materia prima</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                    <th scope="col">Se entrego</th>
                    <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                    
                    <div class="col-md-8 mx-auto pb-4">
                        <div class="card text-center">
                            <p>No hay registros de materia prima entrante</p>
                        </div>
                    </div>
                    
                </tbody>
                </table>
                <caption class="pl-2 justify-content-center">Registro de materia prima entrante</caption>
            </div>
        </div></div>
        
                <div class="bloque">2</div>
                <div class="bloque">3</div>
                <div class="bloque">4</div>
                <div class="bloque">5</div>
                <div class="bloque">6</div>
            </div>
        </div>
        
    
        </center>
    
    
    
    </section>
</body>

<%- include('../includes/scripts.ejs') %>